<!DOCTYPE html>
<html>
<head>
    <title>Welcome to iPlanner</title>
    <link rel="stylesheet" href="/static/style.css"> 
</head>
<body>
<section>
   <div class="signin">
		<div class="content"> 
		<form action="/newTask/{{ contents.id }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> <!-- putting in place CSRFProtect, we used this method because we didnt use FlaskForm-->
			<div class="form"> 
			<label for="text">Update the task : {{ contents.id }}</label>
						<div class="inputBox"> 
							<input type="text" name="ListTask"> <i>Update Todo...</i>
						</div>
								<div class="inputBox"> 
						<button type="submit">SAVE</button>
					</div>
			</div> 
		</form>
		</div> 
   </div> 
  </section>
</body>
</html>